#cube-container {
    box-sizing: border-box;
    transform-style: preserve-3d;
    top: 50%;
    // right: 20%;
    left: 5%;
    position: absolute;
    // position: relative;
    width: 250px;
    height: 250px;
    transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
    transition: 2s cubic-bezier(.68,-0.55,.27,1.55);//backword ease-in-out courtesy of firefox dev tools
    // transform: translate(-50%, -50%);
    animation: 1s ease-in-out coolCube infinite alternate-reverse;

    .face {
      cursor: pointer;
      width: 250px;
      height: 250px;
      position: absolute;
      // border: 2px solid #ed3403;
      background:rgba(255, 166, 0, 0.5);
    //   background: transparent;
      box-shadow: 0px 0px 150px orangered;
      // box-shadow: 0px 0px 150px #ed3403;
      &.top {
        transform: rotateX(90deg);
        margin-top: -50%;
        // &:hover{
        //   background:#ed3403;
        // }
      }
      &.right {
        transform: rotateY(90deg);
        margin-left: 50%;
      }
      &.left {
        transform: rotateY(-90deg);
        margin-left: -50%;
      }
      &.bottom {
        transform: rotateX(90deg);
        margin-top: 50%;
      }
      &.back {
        transform: translateZ(125px);
      }
      &.front {
        transform: translateZ(-125px);
      }
    }

    @keyframes coolCube {
      0%{
        transform: rotateX(-18deg) rotateY(-30deg) translate(-50%, -50%);
        transition: 2s cubic-bezier(.68,-0.55,.27,1.55);//backword ease-in-out courtesy of firefox dev tools
      }

      100%{
        transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
        transition: 2s cubic-bezier(.68,-0.55,.27,1.55);//backword ease-in-out courtesy of firefox dev tools

      }
    }
    // &:hover {
    //   transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
    //   transition: 2s cubic-bezier(.68,-0.55,.27,1.55);//backword ease-in-out courtesy of firefox dev tools
    // }
  }
  //glow idea inspired by codesandbox landing