.purse {
    height: 160px;
    width: 160px;
    top: 50%;
    left: 50%;
    display: block;
    margin: auto;
    margin-bottom: 1%;
    -webkit-perspective: 1000;
    perspective: 1000;
    -webkit-box-reflect: below 0 linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, 0) 45%, hsla(0, 0%, 100%, 0.2));
    -webkit-filter: saturate(1.45) hue-rotate(2deg);
    filter: saturate(1.45) hue-rotate(2deg);
  }
  
  @media 
	(min-device-width: 300px) 
	and (max-device-width: 1024px){
    .purse {
        height: 80px;
        display: block;
        width: 80px;
        top: 50%;
        left: 50%;
      }

      .coin {
        height: 80px;
        width: 80px;
        height: 50px;
        width: 50px;
        position: absolute;
        -webkit-transform-style: preserve-3d;
        transform-style: preserve-3d;
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        animation: spin2 1s infinite; 
        -webkit-animation-timing-function: linear;
        animation-timing-function: linear;
      }
      .coin .front,
      .coin .back {
        position: absolute;
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background-size: cover;
      }
		
	}

  .purse.animating .coin {
    /* Estilos para la animaci칩n cuando est치 en curso */
    // -webkit-animation: spin2 0.7s infinite;
    transform: rotateY(180deg);
    animation: spin2 0.7s infinite;
  }

.purse.not .coin {
    /* Estilos para la animaci칩n cuando est치 en curso */
    // -webkit-animation: spin2 0.7s infinite;
    transform: rotateY(180deg);
    animation: spin2 0.7s infinite;

  }


  .coin {
    height: 160px;
    width: 160px;
    height: 100px;
    width: 100px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
  }
  .coin .front,
  .coin .back {
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
  }
  .coin .front {
    -webkit-transform: translateZ(8px);
    transform: translateZ(8px);
  }
  .coin .back {
    -webkit-transform: translateZ(-8px) rotateY(180deg);
    transform: translateZ(-8px) rotateY(180deg);
  }
  .coin .side {
    transform: translateX(72px);
    -webkit-transform: translateX(72px);
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .coin .side .spoke {
    height: 160px;
    width: 16px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .coin .side .spoke:before,
  .coin .side .spoke:after {
    content: '';
    display: block;
    height: 15.68274245px;
    width: 16px;
    position: absolute;
    -webkit-transform: rotateX(84.375deg);
    transform: rotateX(84.375deg);
    background: hsl(42, 52%, 68%);
    background: linear-gradient(to bottom, hsl(42, 60%, 75%) 0%, hsl(42, 60%, 75%) 74%, hsl(42, 40%, 60%) 75%, hsl(42, 40%, 60%) 100%);
    background-size: 100% 3.48505388px;
  }
  .coin .side .spoke:before {
    -webkit-transform-origin: top center;
    transform-origin: top center;
  }
  .coin .side .spoke:after {
    bottom: 0;
    -webkit-transform-origin: center bottom;
    transform-origin: center bottom;
  }
  .coin .side .spoke:nth-child(16) {
    -webkit-transform: rotateY(90deg) rotateX(180deg);
    transform: rotateY(90deg) rotateX(180deg);
  }
  .coin .side .spoke:nth-child(15) {
    -webkit-transform: rotateY(90deg) rotateX(168.75deg);
    transform: rotateY(90deg) rotateX(168.75deg);
  }
  .coin .side .spoke:nth-child(14) {
    -webkit-transform: rotateY(90deg) rotateX(157.5deg);
    transform: rotateY(90deg) rotateX(157.5deg);
  }
  .coin .side .spoke:nth-child(13) {
    -webkit-transform: rotateY(90deg) rotateX(146.25deg);
    transform: rotateY(90deg) rotateX(146.25deg);
  }
  .coin .side .spoke:nth-child(12) {
    -webkit-transform: rotateY(90deg) rotateX(135deg);
    transform: rotateY(90deg) rotateX(135deg);
  }
  .coin .side .spoke:nth-child(11) {
    -webkit-transform: rotateY(90deg) rotateX(123.75deg);
    transform: rotateY(90deg) rotateX(123.75deg);
  }
  .coin .side .spoke:nth-child(10) {
    -webkit-transform: rotateY(90deg) rotateX(112.5deg);
    transform: rotateY(90deg) rotateX(112.5deg);
  }
  .coin .side .spoke:nth-child(9) {
    -webkit-transform: rotateY(90deg) rotateX(101.25deg);
    transform: rotateY(90deg) rotateX(101.25deg);
  }
  .coin .side .spoke:nth-child(8) {
    -webkit-transform: rotateY(90deg) rotateX(90deg);
    transform: rotateY(90deg) rotateX(90deg);
  }
  .coin .side .spoke:nth-child(7) {
    -webkit-transform: rotateY(90deg) rotateX(78.75deg);
    transform: rotateY(90deg) rotateX(78.75deg);
  }
  .coin .side .spoke:nth-child(6) {
    -webkit-transform: rotateY(90deg) rotateX(67.5deg);
    transform: rotateY(90deg) rotateX(67.5deg);
  }
  .coin .side .spoke:nth-child(5) {
    -webkit-transform: rotateY(90deg) rotateX(56.25deg);
    transform: rotateY(90deg) rotateX(56.25deg);
  }
  .coin .side .spoke:nth-child(4) {
    -webkit-transform: rotateY(90deg) rotateX(45deg);
    transform: rotateY(90deg) rotateX(45deg);
  }
  .coin .side .spoke:nth-child(3) {
    -webkit-transform: rotateY(90deg) rotateX(33.75deg);
    transform: rotateY(90deg) rotateX(33.75deg);
  }
  .coin .side .spoke:nth-child(2) {
    -webkit-transform: rotateY(90deg) rotateX(22.5deg);
    transform: rotateY(90deg) rotateX(22.5deg);
  }
  .coin .side .spoke:nth-child(1) {
    -webkit-transform: rotateY(90deg) rotateX(11.25deg);
    transform: rotateY(90deg) rotateX(11.25deg);
  }
  .coin.skeleton .front,
  .coin.skeleton .back {
    display: none;
  }
  .coin.skeleton .side,
  .coin.skeleton .side .spoke,
  .coin.skeleton .side .spoke:before,
  .coin.skeleton .side .spoke:after {
    -webkit-backface-visibility: visible;
    backface-visibility: visible;
  }
  .coin.skeleton .side .spoke {
    background: rgba(170, 170, 170, 0.1);
  }
  .coin.skeleton .side .spoke:before {
    background: rgba(255, 170, 170, 0.2);
  }
  .coin.skeleton .side .spoke:after {
    background: rgba(204, 204, 255, 0.2);
  }
  
  
  @keyframes spin2 {
    from {
      -webkit-transform: rotateY(0deg);
    }
    to {
      -webkit-transform: rotateY(360deg);
    }
  }


.coin .front {
    background-image: url('/images/bitcoin_3.png');
    /* background-image: url('/images/bitcoin_gold.png'); */
    width: 100%;
    
}

.coin .back {
    background-image: url('/images/bitcoin_gold.png');

}
