:root {
  --size: 60px; /* Tamaño del cubo */
  --border-width: 2px; /* Grosor del borde */
  --box-shadow-size: 150px; /* Tamaño de la sombra */
  --primary-color: #d28705; /* Color principal */
  --secondary-color: #edb60321; /* Color de fondo semitransparente */
}

#cube-container {
  box-sizing: border-box;
  transform-style: preserve-3d;
  position: relative;
  width: var(--size);
  height: var(--size);
  top: 50%;
  left: 10%;
  transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
  transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
  animation: 1s ease-in-out coolCube infinite alternate-reverse;

  .face {
    cursor: pointer;
    width: var(--size);
    height: var(--size);
    position: absolute;
    border: var(--border-width) solid var(--primary-color);
    background: var(--secondary-color);
    // box-shadow: 0px 0px var(--box-shadow-size) var(--primary-color);
    box-shadow: 0px 0px 7px var(--primary-color);

    &.top {
      transform: rotateX(90deg);
      margin-top: calc(-0.5 * var(--size));
    }

    &.right {
      transform: rotateY(90deg);
      margin-left: calc(0.5 * var(--size));
    }

    &.left {
      transform: rotateY(-90deg);
      margin-left: calc(-0.5 * var(--size));
    }

    &.bottom {
      transform: rotateX(90deg);
      margin-top: calc(0.5 * var(--size));
    }

    &.back {
      transform: translateZ(calc(0.5 * var(--size)));
    }

    &.front {
      transform: translateZ(calc(-0.5 * var(--size)));
    }
  }

  @keyframes coolCube {
    0% {
      transform: rotateX(-180deg) rotateY(-300deg) translate(-50%, -50%);
      transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }

    100% {
      transform: rotateX(-25deg) rotateY(-40deg) translate(-50%, -50%);
      transition: 2s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    }
  }
}
